[Unit]
Description= Starlink gRPC tools Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
    -p 8080:8080 \
    starlink-grpc-tools

[Install]
WantedBy=default.target
